<h2>¡Gracias por tu reserva, {{name}}!</h2>
<h3>Estos son los datos de tu alquiler</h3>
<h5>Referencia: {{reference}}</h5>
<h5>Vehículo: {{vehicle}}</h5>
<h5>Origen: {{origin}}</h5>
<h5>Destino: {{destiny}}</h5>
<h5>Fechas: {{dates}}</h5>
<h5>Precio total: {{total}}€ (Iva incl)</h5>
<h6>Descarga aquí tu resguardo en formato pdf: <a href="{{link}}" style="color: blue ;">Enlace</a></h6>